	.top{
		position: relative;
		height: 44px;
		border-bottom: 1px solid #ddd;
		font:15px/45px a;
		color: rgba(0,0,0,0.7);
		background-color: #efeff0;
	}
	.top__back{
		float: left;
		width: 42px;
		height: 44px;
	}
	.top__back:before{
		content:'';
		display: block;
		margin: 15px 0 0 16px;
		width: 10px;
		height: 16px;
		background: url(/static/img/back.png) no-repeat;
		background-size: 10px 16px;
	}
	.header-home{
		float: right;
		width: 44px;
		height: 44px;
		background: url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01eZH42sBV7/QTS90E2ZVritaa.png) no-repeat center;
		background-size:16px;
	}
	


	.book-cover:after {
	    content: '';
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	}
	li {
	    list-style: none;
	    padding: 0;
   		margin: 0;
	}

	.top__bd {
	    position: absolute;
	    top: 45px;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    overflow: auto;
	}
	.single-filter {
	    background: #fff;
	    padding: 0 22px;
	    width: 60%;
	    margin: 0 auto;
	}
	.single-filter.-three li {
	    width: 30%;
	}
	.single-filter li {
	    display: inline-block;
	    width: 50%;
	}
	.split-line {
	    height: 10px;
	    background: #F2F2F2;
	}
	.book-list>li {
	    cursor: pointer;
	    position: relative;
	    overflow: hidden;
	}
	
	.book-list li {
	    border-bottom: 1px solid #f0f0f0;
	}
	.rank-page .single-filter li .tag {
	    width: 45%;
	}
	.rank-page .-selected .tag {
	    color: #000 !important;
	    border-bottom: 3px solid #50c3d8;
	}
	.single-filter li .tag {
	    text-align: center;
	    margin: 0 20%;
	    font-size: 12px;
	    line-height: 3;
	    padding-top: 3px;
	    color: #a3a3a3;
	    white-space: nowrap;
	}
	.book-list li>.u-book {
	    padding: 13px 14px;
	}
	.rank-page .u-book {
	    overflow: hidden;
	}
	.u-book {
	    position: relative;
	    overflow: hidden;
	}
	.u-book__lt {
	    position: absolute;
	    z-index: 1;
	    width: 16px;
	    margin-top: 7px;
	    margin-left: -4px;
	    background-color: #F35D02;
	    height: 16px;
	}
	.u-book__lt-number {
	    color: #FFF;
	    margin-left: 4px;
	    font-size: 12px;
	}
	.u-book__lt-triangle {
	    border-top: solid 6px #F35D02;
	    border-left: solid 8px rgba(0,0,0,0);
	    border-right: solid 8px rgba(0,0,0,0);
	    position: absolute;
	    z-index: 1;
	    margin-top: 23px;
	    margin-left: -4px;
	}
	.rank-page .book-cover {
	    width: 8rem;
	    height: 10.5rem;
	    margin-top: 12px;
	}
	.u-book .book-cover {
	    float: left;
	    margin-right: 10px;
	}
	.book-cover {
	    position: relative;
	    width: 8.5rem;
	    height: 11.3rem;
	    background-color: #eeece9;
	    box-shadow: 0px 6px 5px -3px #aaa;
	    border: 1px solid #f0f0f0;
	    border-bottom: none;
	    overflow: hidden;
	}
	.book-cover img {
	    width: 100%;
	    height: 100%;
	}
	.Lazy_loaded img {
	    opacity: 1;
	}
	.Lazy_waiting img, .Lazy_loading img {
	    
	    -webkit-transition: opacity .4s;
	}
	.book-cover .u-tagRT {
	    font-size: 12px;
	}
	.u-tagRT, .u-tagLT, .u-subscript {
	    position: absolute;
	    top: 0;
	    left: 0;
	    line-height: 1.4;
	    background-color: #ef6c2c;
	    color: #fff;
	    width: 100%;
	    -webkit-transform-origin: top center;
	    -webkit-transform: translateX(50%) rotate(45deg) translateY(50%) scale(0.8);
	    font-size: 1.4rem;
	    text-align: center;
	}
	.book-list>li {
	    cursor: pointer;
	    position: relative;
	    overflow: hidden;
	}
	.u-book .info {
	    padding-top: 1.2rem;
	}
	.rank-page .title {
	    margin-bottom: 0px;
	}
	.u-book .title {
	    margin-bottom: 4px;
	    font-size: 16px;
	    font-weight: 400;
	    color: #000;
	}
	.single-line {
	    overflow: hidden;
	    text-overflow: ellipsis;
	    white-space: nowrap;
	}
	.rank-page .author {
	    margin-top: 0px;
	}
	.u-book .author {
	    color: #666;
	}
	.rank-page .summary {
	    margin-top: 0px;
	}
	.u-book .summary {
	    margin: 12px 0 4px;
	    font-size: 13px;
	    line-height: 1.6em;
	    color: #666;
	    overflow: hidden;
	    text-overflow: ellipsis;
	    height: 3.2em;
	    display: -webkit-box;
	    -webkit-line-clamp: 2;
	    -webkit-box-orient: vertical;
	}
	.u-book__onRead {
	    color: #f35d02;
	    font-size: 12px;
	}
	.u-book__eye {
	    height: 11px;
	    position: relative;
	    top: 1px;
	    margin-right: 4px;
	}