<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
		<link rel="stylesheet" type="text/css" href="/static/css/category.css">
		
		<title>排行</title>
	</head>
	<body>
		<div  id="app">
			<div class="top">
				<a class="top__back" href="/"></a>
				<span class="top__title">分类</span>
				<a class="header-home" href="/"></a>
			</div>
			<div class="top_bd">
				<div class="new-page cate-page">
					<main class="u-area">
						<section class="m-cat-male">
							<div class="u-ttl u-ttl-icn">
								<em class="icn-catagory1"></em>
								<h1>男生小说</h1>
							</div>
							<ul class="u-list-2col">
								<li>
									<div class="u-cat-item" style="background-image:url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01sgxEWBTlf/9lhSeaWVtRTBxB.jpg!m);">
										<h3>玄幻</h3>
										<p class="num">22871</p>
									</div>
								</li>


								<li>
									<div class="u-cat-item" style="background-image:url(http://image.read.duokan.com/mfsv2/download/fdsc3/p016wb5LeIod/Ty6vRAJjIoXLms.jpg!m);">
										<h3>奇幻</h3>
										<p class="num">22871</p>
									</div>
								</li>

								<li>
									<div class="u-cat-item" style="background-image:url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01t1kJxs14N/pFZqc6ENRL47yA.jpg!m);">
										<h3>武侠</h3>
										<p class="num">22871</p>
									</div>
								</li>

								<li>
									<div class="u-cat-item" style="background-image:url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01msjzK8jv4/m4IlGgplwlpnT6.jpg!m);">
										<h3>都市</h3>
										<p class="num">22871</p>
									</div>
								</li>

								<li>
									<div class="u-cat-item" style="background-image:url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01t7kF1J6d1/HWF6HLH27UWY5B.jpg!m);">
										<h3>仙侠</h3>
										<p class="num">22871</p>
									</div>
								</li>

								<li>
									<div class="u-cat-item" style="background-image:url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01DGJ0MyXFL/T4iXlSFB55mxih.jpg!m);">
										<h3>历史</h3>
										<p class="num">22871</p>
									</div>
								</li>

								<li>
									<div class="u-cat-item" style="background-image:url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01SIODBbcvl/GgGagqju5fN8TP.jpg!m);">
										<h3>军事</h3>
										<p class="num">22871</p>
									</div>
								</li>

								<li>
									<div class="u-cat-item" style="background-image:url(http://image.read.duokan.com/mfsv2/download/fdsc3/p017AtevD4G7/cwYXdljUq2URZe.jpg!m)">
										<h3>灵异</h3>
										<p class="num">22871</p>
									</div>
								</li>

								<li>
									<div class="u-cat-item" style="background-image:url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01hbRZaPA9c/IW4JfWq1vWJw6s.jpg!m);">
										<h3>科幻</h3>
										<p class="num">22871</p>
									</div>
								</li>

								<li>
									<div class="u-cat-item" style="background-image:url(http://image.read.duokan.com/mfsv2/download/fdsc3/p017TtbJvv8J/Pvm2HWEWUoagFg.jpg!m);">
										<h3>游戏</h3>
										<p class="num">22871</p>
									</div>
								</li>

								<li>
									<div class="u-cat-item" style="background-image:url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01Y7FevP7nA/IsbBBYZDcKFjAv.jpg!m);">
										<h3>竞技</h3>
										<p class="num">22871</p>
									</div>
								</li>

								<li>
									<div class="u-cat-item" style="background-image:url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01HaaU7NtSf/h0LxC32mPwj0a4.jpg!m);">
										<h3>职场</h3>
										<p class="num">22871</p>
									</div>
								</li>

								<li>
									<div class="u-cat-item" style="background-image:url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01ckykCFdHi/3LRAow4SgzYB3z.jpg!m);">
										<h3>同人</h3>
										<p class="num">22871</p>
									</div>
								</li>

								<li>
									<div class="u-cat-item" style="background-image:url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01IRSY602J2/7RA6oPqcZjjMHu.jpg!m);">
										<h3>短篇</h3>
										<p class="num">22871</p>
									</div>
								</li>

								
							</ul>
						</section>
						<section class="m-cat-female">
							<div class="u-ttl u-ttl-icn">
								<em class="icn-catagory1"></em>
								<h1>女生小说</h1>
							</div>
							<ul class="u-list-2col">
								<li>
									<div class="u-cat-item" style="background-image:url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01KAEsQ1LLZ/eHLGagv4MOHXgs.jpg!m);">
										<h3>玄幻言情</h3>
										<p class="num">22871</p>
									</div>
								</li>

								<li>
									<div class="u-cat-item" style="background-image:url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01XFImEzNyN/eVq0ZALsv7dqh3.jpg!m);">
										<h3>仙侠奇缘</h3>
										<p class="num">22871</p>
									</div>
								</li>
								<li>
									<div class="u-cat-item" style="background-image:url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01rJp6arej4/QJiy2TAXaRpIK2.jpg!m);">
										<h3>古代言情</h3>
										<p class="num">22871</p>
									</div>
								</li>
								<li>
									<div class="u-cat-item" style="background-image:url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01DlVkbQgxr/QXM9AhweoHVa6n.jpg!m);">
										<h3>现代言情</h3>
										<p class="num">22871</p>
									</div>
								</li>
								<li>
									<div class="u-cat-item" style="background-image:url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01nZPySEIMV/DXHWApVckVgHhZ.jpg!m);">
										<h3>浪漫青春</h3>
										<p class="num">22871</p>
									</div>
								</li>
								<li>
									<div class="u-cat-item" style="background-image:url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01WFnneFjg6/9tLt5tsftQLlup.jpg!m);">
										<h3>科幻空间</h3>
										<p class="num">22871</p>
									</div>
								</li>
								<li>
									<div class="u-cat-item" style="background-image:url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01N5njivrRT/lYixdlLXwvzfa9.jpg!m);">
										<h3>悬疑灵异</h3>
										<p class="num">22871</p>
									</div>
								</li>
								<li>
									<div class="u-cat-item" style="background-image:url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01lh7NjyCAj/KGU3FtWix76bMZ.jpg!m);">
										<h3>游戏竞技</h3>
										<p class="num">22871</p>
									</div>
								</li>
								<li>
									<div class="u-cat-item" style="background-image:url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01KVSHyjEPr/XBqZvLBMexCrLy.jpg!m);">
										<h3>同人小说</h3>
										<p class="num">22871</p>
									</div>
								</li>
								<li>
									<div class="u-cat-item" style="background-image:url(http://image.read.duokan.com/mfsv2/download/fdsc3/p01BFykwYpxL/gAAbwIEWbXEnq2.jpg!m);">
										<h3>唯美小说</h3>
										<p class="num">22871</p>
									</div>
								</li>
								
							</ul>
						</section>
					</main>
				</div>
			</div>
		</div>	
	</body>
	
	<script src="/static/script/jquery-3.2.1.js"></script>
    <script src="/static/script/zepto.js"></script>
    <script src="/static/script/vue.js"></script>
    <script src="/static/script/pages/category.js"></script>
</html>