<!DOCTYPE html>
<html>
	<head>
		<meta charset="utf-8">
		<meta name="viewport" content="width=device-width,initial-scale=1,user-scalable=no,minimal-ui">
		<meta name="format-detection" content="telephone=no">
		<link rel="stylesheet" type="text/css" href="/static/css/reset.css">
		<style type="text/css">
			.search {
			    position: relative;
			    height: 100%;
		    }
		</style>
		<title>搜索</title>
	</head>
	<body>
		<div id="root">
		<% include include/search-header.html %>
		     <div class="search">
		     	
		     </div>
		</div>	
	</body>
	
	<script src="/static/script/jquery-3.2.1.js"></script>
    <script src="/static/script/zepto.js"></script>
    <script src="/static/script/vue.js"></script>
    <script src="/static/script/pages/book.js"></script>
</html>